* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-bg: #1e3a8a;
    --blue: #19a0e4;
    --note-text: #2d3436;
    --table-border: rgb(156 163 175);
    --nav-hover: #fff;
    --red: #ee5253;
    --event-title: #000;
    --note: #eccc68;
    --yellow: #f7b731;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* width */
*::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
    transition: 0.5s;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: var(--dark-bg);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: var(--dark-bg);
}

.bell {
    animation: shake 0.5s infinite alternate;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.notify_board {
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -250%);
    transition: all 0.5s ease;

}

.notify_board.active {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
}