.background-tdc-attendence {
    width: 100%;
    padding: 20px 0;
    background: url("../assets/images/tdc_bg.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-tdc-attendence::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(24, 45, 73, 0.436);
}

.attendence-box {
    width: 95%;
    background-color: #fff;
    border-radius: 10px;
    z-index: 99;
    padding-bottom: 30px;
}
.background-tdc-attendence .attendence-form-title {
    font-size: 25px;
    color: var(--blue);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.background-tdc-attendence .attendence-form-title span {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    background-image: linear-gradient(to right, #2193b0, #20bdff, #64ffa7);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transform: translate3d(10px, 0, 50px);
    backface-visibility: hidden;
}

.attent-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--blue);
    padding: 0 15px;
    text-align: center;
    margin-bottom: 15px;
}

.attendence-box form {
    padding: 0 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.attendence-box form .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.attendence-box form label {
    font-weight: 600;
}

.attendence-box form label span {
    color: red;
    font-weight: normal;
}

.attendence-box form input {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    transition: all 0.2s ease-out;
}

.attendence-box form input:focus {
    border-bottom: 1px solid #000;
}

.btn-cancel-confirm {
    background-color: var(--red);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
}

.btn-confirm-info,
.btn-attended {
    background-color: var(--blue);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
}

/* Line */
.line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.line .line-left {
    height: 0.5px;
    background: #ccc;
    width: 50%;
}
.line-right {
    height: 0.5px;
    background: #ccc;
    width: 50%;
}

.line .circle {
    width: 10px;
    height: 10px;
    clip-path: polygon(
        50% 0%,
        90% 20%,
        100% 60%,
        75% 100%,
        25% 100%,
        0% 60%,
        10% 20%
    );
    border-radius: 50%;
    background-color: var(--blue);
    margin: 0 5px;
}

/* Question component */
.question-component{
    display: flex;
    flex-direction: column;
    gap: 20px;

} 
.question-component .question-item {
    box-shadow: 0 0 5px #ccc;
    border-radius: 7px;
    padding: 20px 24px;
}

.question-component .question-item .question {
    font-weight: bold;
    margin-bottom: 10px;
}

.question-component .question-item .question {
    display: flex;
    font-size: 14px;
}

.question-item .question .require-question {
    color: #FF0000;
    padding-left: 5px;
}

.question-item .answers {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.question-item .answers .answer {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.question-item .answers .answer label {
    font-weight: normal;
    width: 100%;
    font-size: 13px;
}

.question-item .answers .answer-text {
    width: 100%;
}

.btn-cancel-confirm, .btn-confirm-info, .btn-attended {
    font-size: 14px;
}

@media (min-width: 768px) {
    .background-tdc-attendence .attendence-form-title {
        font-size: 40px;
    }
    .background-tdc-attendence .attendence-form-title span {
        font-size: 45px;
    }

    .attent-title {
        font-size: 25px;
    }

    .line .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--blue);
        margin: 0 10px;
    }

    .question-component .question-item .question {
        display: flex;
        font-size: 16px;
    }

    .question-item .answers .answer label {
        font-weight: normal;
        width: 100%;
        font-size: 15px;
    }

    .btn-cancel-confirm, .btn-confirm-info, .btn-attended {
        font-size: 16px;
    }
}

.attendence-box form .question_block,
.attendence-box form .name_block,
.attendence-box form .class_block,
.attendence-box form .birthday_block {
    display: none;
}


.attendence-box form .question_block.confirmed,
.attendence-box form .name_block.confirmed,
.attendence-box form .class_block.confirmed,
.attendence-box form .birthday_block.confirmed {
    display: flex;
}
