.fc-toolbar.fc-header-toolbar {
    flex-direction: column;
  }
  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:first-child {
    order: 2;
  }
  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    order: 1;
  }
  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:last-child {
    order: 3;
  }

@media (min-width: 768px) {
    .fc .fc-toolbar.fc-header-toolbar {
        display: flex;
        flex-direction: row;
    }

    .fc-toolbar.fc-header-toolbar {
        flex-direction: column;
    }
      .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:first-child {
        order: 1;
      }
      .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
        order: 2;
      }
      .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:last-child {
        order: 3;
      }
}

.event-past {
  background-color: #4b4b4b !important;
  color: white !important;
}

.event-ongoing {
  background-color: #1dd1a1 !important;
  color: white !important;
}

.event-upcoming {
  background-color: #0abde3 !important;
  color: white !important;
}

.event-cancelled {
  background-color: #ff6b6b !important;
  color: white !important;
}

.fc-daygrid-event-dot {
  background: #fff !important;
  border-color: #fff !important;
}

.fc-toolbar-title{
  text-transform: capitalize;
}

.explain-color {
  width: 22px;
  height: 22px;
  border-radius: 8px;
}