* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcfcfc;
}

.big-event .title {
    font-size: 40px;
    color: var(--blue);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.big-event .title span {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    background-image: linear-gradient(to right, #2193b0, #20bdff, #64ffa7);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding: 10px 0;
    transform: translate3d(10px, 0, 50px);
    backface-visibility: hidden;
}

.event-card {
    box-shadow: 0 0 5px #ccc;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}




.event-card:hover .background,
.event-card:hover .background-upcoming {
    overflow: hidden;
}

.event-card:hover .background img,
.event-card:hover .background-upcoming img {
    position: relative;
    transform: scale(1.05);
    transition: all 0.5s ease-out;
}

.event-card .event-title {
    cursor: pointer;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}

.event-card .event-title a {
    font-weight: bold;
    font-size: 17px;
    color: var(--blue-text);
    display: block;
}

.event-desc {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    flex-direction: column;
}

.event-card .event-tag {
    display: flex;
    align-items: center;
    gap: 8px;
}

.event-card .event-location {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-card .event-location span {
    margin-left: 8px;

}

.event-card .event-cancel span {
    font-weight: 600;
    background: var(--red);
    color: white;
    padding: 5px 10px;
    border-radius: 99px;
}

.event-card .event-status {
    margin-top: 8px;
}

.event-card .event-status span {
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 99px;
}

/* Owl caroucel */
.owl-carousel .owl-nav button {
    position: absolute;
    font-size: 20px !important;
    background-color: #eee !important;
    width: 20px;
}
.owl-carousel .owl-nav button.owl-next {
    top: 50%;
    right: -5%;
    transform: translateY(-50%);
}
 .owl-carousel .owl-nav button.owl-prev {
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
}

/* Button Register */
.btn-register {
    background-color: #19a0e4;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    position: relative;
    z-index: 2;
    font-size: 12px;
}

.btn-register:hover {
    background-color: #33b1f0;
}

.btn-register::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #19a0e4;
    z-index: -1;
    transform-origin: 50% 50%;
    border-radius: 10px;
    animation: scale1 2s linear 1.5s infinite; 
}

.btn-register::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #19a0e4;
    z-index: -1;
    transform-origin: 50% 50%;
    border-radius: 10px;
    animation: scale2 2s linear infinite; 
}

@keyframes scale1 {
    0%{
        transform: scale(0.5);
        opacity: 0.7;
    }

    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes scale2 {
    0%{
        transform: scale(0.5);
        opacity: 0.7;
    }

    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}

.upcoming-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}


.upcoming-empty img{
    width: 20%;
}

.upcoming-empty p {
    font-weight: bold;
    padding-top: 10px;
}

/* Search All Events */
.search-block {
    text-align: center;
    position: relative;
    display: flex;
}
.events_search {
    border: 1px solid #ccc;
    padding: 7px;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    margin: 10px 0;
   
}

.events_search:focus-within {
    border-color: #19a0e4;
}

.events_search input {
    outline: none;
    padding: 5px 5px;
    background: transparent;
}

.search-results ul {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    text-align: left;
}

.search-results ul li {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #E5E7EB;
}

.search-results ul li:hover {
    background-color: #eee;
    border-radius: 5px;
}

.search-results ul h3 {
    font-weight: bold;
} 

.search-results ul li img {
    width: 20%;
    border-radius: 5px;
}

.event-status-search span{
    border-radius: 99px;
    font-size: 12px;
    padding: 3px 10px;
}

.search-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
}

.search-empty img {
    width: 20%;
}

.search-empty p {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.search-empty p span {
    color: #ff6b6b;
}







/* Laptop */
@media (min-width: 768px) {
    .background {
        width: 100%;
        height: 200px; 
        overflow: hidden;
    }

    .event-card .background img,
    .event-card .background-upcoming img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .background-upcoming {
        width: 100%;
        height: auto; 
        overflow: hidden;
    }
    
   
    .event-card .event-title a {
        font-size: 18px;
    }

    .event-card .event-title {
        cursor: pointer;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 54px;
    }

    .big-event .title span {
        font-size: 45px;
    }

    .btn-register {
        font-size: 15px;
    }

    .search-block {
        text-align: left;
    }

    .search-results ul {
        left: 0;
        transform: translateX(0);
        width: 50%;
    }
}
/* Tablet */
@media (min-width: 576px) {
}

.pagination-bar {
    display: flex;
    justify-content: center;
}

.page-link:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.page-link:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination-bar span {
    border: 1px solid #ccc;
    width: 35px;
    height: 35px;
    text-align: center;
}

.page-link {
    cursor: pointer;
    border: 1px solid #ccc;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-link.active {
    color: rgb(28, 100, 242);
    background-color: rgb(235 245 255);
    border: 1px solid rgb(164 202 254);
}
.disabled {
    pointer-events: none;
    color: gray;
}

.mt_container {
    margin-top: 72px;
}

.banner_bg {
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

header {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    z-index: 10;
}

.slider {
    width: 1300px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img {
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active {
    width: 30px;
}
@media screen and (max-width: 768px) {
    .slider {
        height: 400px;
    }
}

.temp_text {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        90deg,
        rgb(4, 57, 127) 0%,
        rgba(255, 255, 255, 1) 4%,
        rgb(4, 57, 127) 8%,
        rgb(4, 57, 127) 100%,
        rgb(4, 57, 127) 100%
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: textGradient 6s ease infinite alternate;
}

@keyframes textGradient {
    0% {
        background-position: 10% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

.event-past {
    background-color: #4b4b4b !important;
    color: white !important;
}

.event-ongoing {
    background-color: #1dd1a1 !important;
    color: white !important;
}

.event-upcoming {
    background-color: #0abde3 !important;
    color: white !important;
}

.event-cancelled {
    background-color: #ff6b6b !important;
    color: white !important;
}

.tooltip-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(55 65 81);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.btn_action:hover .tooltip {
    opacity: 1;
}

.tooltip {
    opacity: 0;
    transition: all 0.3s ease;
}
.readed {
    background-color: #22c55e;
    color: white !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noti-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noti-content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
